<%= render "shared/league_header" %>

<% if @league.full? %>
    <h3>Team Schedules</h3>

    <div class="team_schedule">
        <%= render "team_info_panel" %>

        <div id="dynamic_team_schedule">
          <table class="table table-responsive table-condensed">
            <th>Week</th>
            <th>Home Team</th>
            <th>Away Team</th>
            <th>Result</th>
            <tbody class="team-games">
            <% @games.each do |game| %>
                <tr>
                  <%= content_tag(:td, game.week) %>
                  <%= content_tag(:td, game.home_team.name, class: highlight_my_team(@user_team, game.home_team)) %>
                  <%= content_tag(:td, game.away_team.name, class: highlight_my_team(@user_team, game.away_team)) %>
                  <td><%= "#{game.home_score} - #{game.away_score}"%></td>
                </tr>
            <% end %>
            </tbody>
          </table>
        </div>
    </div>
<% else %>
    <h3 class="center highlight">League not full yet... only <%= @league.available_teams %> slots to go!</h3>
<% end %>