<table class="table table-responsive table-condensed league-index-table">
  <th>Name</th>
  <th>Format</th>
  <th>Duration (Weeks)</th>
  <th>Size</th>
  <th>Available</th>
  <th>Entry</th>
  <th>Draft Date</th>
  <th></th>
  <tbody>
  <% leagues.each do |league| %>
    <tr>
      <td><%= link_to league.name, league %></td>
      <td><%= league.league_type.name %></td>
      <td><%= league.weeks %></td>
      <td><%= league.size %></td>
      <td><%= league.available_teams %></td>
      <td><%= number_to_currency(league.entry_amount) %></td>
      <td><%= league.draft_start_date.in_time_zone('EST').strftime("%A %B %C, %T") %></td>
      <%= render 'join_button', league: league %>
    </tr>
  <% end %>
  </tbody>
</table>