<% @my_teams = current_user.teams.map { |team| team.name } if signed_in? %>

<h1> League Schedule</h1>
<h2><%= @league.name %></h2>

<%= render 'shared/schedule_weekbar' %>

<% if @league.available_teams == 0 %>
    <table class="table table-responsive table-condensed schedule-table">
      <th>Week</th>
      <th>Home Team</th>
      <th>Away Team</th>
      <tbody>
      <% @league.games.each do |game| %>
          <tr class="schedule-games game-<%= game.week %>">
            <% home_team = @teams.find { |team| team.id == game.home_team_id}.name %>
            <% away_team = @teams.find { |team| team.id == game.away_team_id}.name %>
            <%= content_tag(:td, game.week) %>
            <%= content_tag(:td, home_team, class: highlight_my_team(@my_teams, home_team)) %>
            <%= content_tag(:td, away_team, class: highlight_my_team(@my_teams, away_team)) %>
          </tr>
      <% end %>
      </tbody>
    </table>
<% else %>
    <h3 class="center highlight">League not full yet... only <%= @league.available_teams %> slots to go!</h3>
<% end %>