<h1>Create New User</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
        <%= render "shared/error_messages" %>

        <%= f.label :email, "Email Address", class: "required" %>
        <%= f.text_field :email %>

        <%= f.label :password, "Password", class: "required" %>
        <%= f.password_field :password %>

        <%= f.label :password_confirmation, "Password Confirmation", class: "required" %>
        <%= f.password_field :password_confirmation %>

        <%= f.label :first_name, "First Name" %>
        <%= f.text_field :first_name %>

        <%= f.label :last_name, "Last Name" %>
        <%= f.text_field :last_name %>

        <%= f.label :address, "Address" %>
        <%= f.text_field :address %>

        <%= f.label :city, "City" %>
        <%= f.text_field :city %>

        <%= f.label :state, "State" %>
        <%= f.text_field :state %>

        <%= f.label :zip, "Zip Code" %>
        <%= f.text_field :zip %>

        <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
    <% end %>
      </div>
    </div>