<h1>Create New User</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
        <%= render "shared/error_messages" %>

        <div class="control-group control-group-email">
          <%= f.label :email, "Email Address", class: "required" %>
          <%= f.text_field :email, class: "email", remote: true %>
          <span class="error-message error-required"> Email Address is required </span>
          <span class="error-message error-taken"> Email Address already taken </span>
          <span class="error-message error-invalid-format"> Email Address format is invalid (i.e. name@domain.com) </span>
        </div>

        <%= f.label :password, "Password", class: "required" %>
        <%= f.password_field :password %>

        <%= f.label :password_confirmation, "Password Confirmation", class: "required" %>
        <%= f.password_field :password_confirmation %>



        <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
    <% end %>
      </div>
    </div>