<%= render "shared/league_header" %>

<h2><%= @league.name %></h2>

<h1>Team Schedule</h1>

<% if @league.available_teams == 0 %>
    <label for="user_email" style="font-size: 17px">Team Schedule:
      <%= collection_select(:user, :email, @league.users, :id, :email, {}, { class: 'user-combobox' }) %>
    </label>

    <table class="table table-responsive table-condensed schedule-table">
      <th>Week</th>
      <th>Home Team</th>
      <th>Away Team</th>
      <th>Result</th>
      <tbody>
      <% @games.each do |game| %>
        <tr>
            <%= content_tag(:td, game.week) %>
            <%= content_tag(:td, game.home_team.name, class: highlight_my_team(@user_team, game.home_team)) %>
            <%= content_tag(:td, game.away_team.name, class: highlight_my_team(@user_team, game.away_team)) %>
            <td>13.22 - 24.24</td>
        </tr>
      <% end %>
      </tbody>
    </table>
<% else %>
    <h3 class="center highlight">League not full yet... only <%= @league.available_teams %> slots to go!</h3>
<% end %>