<ul class="nav nav-tabs league-nav">
  <li><%= link_to "Home", league_path(@league) %></li>
  <li><%= link_to "My Team", league_team_path(@league, @user_team) %></li>
  <li><%= link_to "Live Scoring", "#" %></li>
  <li><%= link_to "Standings", standings_league_path(@league) %></li>

  <%= render "shared/dropdown_menu_item", menu_data: { menu_name: "Schedules",
                                                       menu_items: [ { item_name: "League Schedule", item_path: schedule_league_path(@league) },
                                                                     { item_name: "Team Schedule", item_path: schedule_league_teams_path(@league) } ]
                                                     } %>

  <li><%= link_to "Free Agency", "#" %></li>
  <li><%= link_to "Trades", "#" %></li>
  <li><%= link_to "Stat Central", "#" %></li>

  <%= render "shared/dropdown_menu_item", menu_data: { menu_name: "League Info",
                                                       menu_items: [ { item_name: "Settings", item_path: "#" },
                                                                     { item_name: "Teams", item_path: league_info_league_path(@league) },
                                                                     { item_name: "Rules", item_path: "#" } ]
                                                     } %>
</ul>