<ul class="nav nav-tabs league-nav">
  <li><%= link_to "Home", league_path(@league) %></li>
  <li><%= link_to "My Team", league_team_path(@league, @user_team) %></li>
  <li><%= link_to "Live Scoring", "#" %></li>
  <li><%= link_to "Standings", standings_league_path(@league) %></li>

  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      Schedules <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><%= link_to "League Schedule", schedule_league_path(@league) %></li>
      <li><%= link_to "Team Schedules", schedule_league_teams_path(@league) %></li>
    </ul>
  </li>

  <li><%= link_to "Free Agency", "#" %></li>
  <li><%= link_to "Trades", "#" %></li>
  <li><%= link_to "Stat Central", "#" %></li>

  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      League Info <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><%= link_to "Teams", league_info_league_path(@league) %></li>
      <li><%= link_to "Rules", "#" %></li>
    </ul>
  </li>
</ul>